*{
    margin: 0;
    padding: 0;
}
body{
    width : 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 50%, #E0C3FC 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

  /* slideshow */

  .slideshow{
    width: 70%;
    height: 400px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: rgba(173, 64, 64, 0.09) 0px 2px 1px,
          rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
          rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
  }

  .slide{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  /* filter */
.filter{
  width: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.553);
    border: 1px solid red;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-evenly;
}

.sortBtn{
  padding: 5px;
  height: 45px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.132);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  font-size: 21px;
  border: 1px solid #f41d6593;
  font-weight: bold;
  border-radius: 5px;
}

.sortBtn:hover {
  font-size: 22px;
  background-color: #f41d65bb;
  color: white;
  border: 1px solid #f83c7a3e;
  cursor: pointer;
}



/* grid */

.movieGrid{
  margin: 5px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, auto);
  gap: 3% 3%;
  padding: 10px;
  text-align: center;
}

.card{
  border: 1px solid rgb(146, 153, 246);
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  width: 400px;
  height: 370px;
  display: flex; 
  flex-direction: column;
  text-transform: uppercase;
  background-color: #fcf4c388;
  border-radius: 20px;
  box-shadow: rgba(173, 64, 64, 0.09) 0px 2px 1px,
          rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
          rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition:   1s ;
}

.image{
  height: 270px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition:   1s ;
}

.card:hover{
  transform: scale(1.05);
}

.image:hover {
  transform: scale(1.05);
}
